
<section id="contacto">
  <div class='text-center' >
    <h2> Contactanos </h2>
    <p> No dudes en ponerte en contacto para discutir tu idea. Llamanos o envianos un mensaje con el siguiente formulario.</p>
    <i class='fa fa-phone' aria-hidden='true' ></i> +34 610-617-057<br>
    <i class='fa fa-envelope' aria-hidden='true' ></i> info@bundev.com.ar<br>
    <div class="contact-column" style="color:black;" > 
          <%= render("contact_form") %>
    </div>
  </div>
</section>