

<nav class="navbar navbar-inverse" style="padding-top:2em; border:none; background:none" >
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar3">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="/"><p style="font-size:2em; background-color: black; color: white; padding:0px 0.5em;"> L </p>
      </a>
    </div>
    <div  class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" id="home-link">Deustch</a></li>
        <li><a href="#" id="about-link">Start a Project</a></li>  
      </ul>
    </div>
  </div>
</nav>


<div class="container">
  <h1 class="text-center" style="margin-top:2em; margin-bottom: 2em; font-size:4em; font-weight: bold; color: #8c8c8c"> Our launch process </h1>

  <div class="vertical-line"></div>

  <div class="row row-triple">
    <div class="columna-recuadro columna-left col-md-4">
    <h3>Get a proposal</h3>
      <p>Our guaranteed, fair price is possible because we
      understand how projects are built and what that
      entails. Of course, our speed is just a perk of using
      Fast and fair
      our service - we aren’t charging you extra for it.</p>
     </div>
    <div class="col-md-4 text-center "> 
      <div class="center-block circular-img" ></div>
    </div>
    <div class="col-md-4 col-subtitle text-center">
      <h2> Fast and Fair </h2>
    </div>
  </div>
  <div class="row row-triple">
    <div class="col-md-4 col-subtitle text-center">
      <h2> Learning the lingo </h2>
    </div>
    <div class="col-md-4"> 
      <div class="center-block circular-img" ></div>
    </div>
    <div class="columna-recuadro columna-right col-md-4">
    <h3>Review project deliverables</h3>
      <p>This is where your creative concept is translated into
technical instructions that our engineers will use to
create the product. This is a process that takes a
special know-how to achieve fluidly, and we have
nailed this down purely by doing it over and over
again. Practice makes perfect, and we have the
experience.</p>
     </div>
  </div>
  <div class="row row-triple">
    <div class="columna-recuadro columna-left col-md-4">
    <h3>Always remain in control</h3>
      <p>With the help of your dedicated project manager,
you are kept in the loop via regular status reports
and refered to for decision-making. We rely on our
experience to set achievable, tightly managed
milestones to provide you with the current project
status and a reliable timeline projection to
completion</p>
     </div>
    <div class="col-md-4"> 
      <div class="center-block circular-img" ></div>
    </div>
    <div class="col-md-4 col-subtitle text-center">
      <h2> image </h2>
    </div>
  </div>
  <div class="row row-triple">
    <div class="col-md-4 col-subtitle text-center">
      <h2> Take it and run with it</h2>
    </div>
    <div class="col-md-4">
      <div class="center-block circular-img" ></div>    
    </div>
    <div class="columna-recuadro columna-right col-md-4">
    <h3>Ownership handover</h3>
      <p>Our team facilitates a smooth, comprehensive
handover powered by communication and
experience. Because you have been a part of the
team since the beginning, you are aware of the
product and what it entails. Experience has allowed
us to predict and address possible questions and
confusions on your side, creating an efficient
handover process.</p>
     </div>
    </div>
  <div class="row row-triple">
    <div class="columna-recuadro columna-left col-md-4">
    <h3>Keep going!</h3>
      <p>We know the ins and outs of your product, which
means we can easily supplement it in the future
such as with new features or scaling. We love
nothing more than exploring new possibilites with
old clients, so we welcome you to build upon our
partnership with new projects in the future.</p>
     </div>
    <div class="col-md-4"> 
      <div class="center-block circular-img" ></div>
    </div>
    <div class="col-md-4 col-subtitle text-center">
      <h2> Houston, we have a project</h2>
    </div>
  </div>
</div>
<style>

.row-triple {
  padding-left:10em;
  padding-right:10em;
}

.circular-img {
  width: 120px;
  height: 120px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url(http://placekitten.com/g/300/300) no-repeat;
}

.vertical-line {
  height:180%;
  position:absolute;
  left:50%;
  border-left: 1px solid black;
}

h2 {
  color:#0099ff;
  font-size:24px;
}

.navbar .navbar-collapse ul li a:link {
  color: black;
}
.columna-recuadro {
  margin-top:2em;
  border: solid 5px #f2f2f2;
  padding-bottom: 5em;
}

.columna-recuadro h3 {
  margin-top:5px;
  font-size:20px;
  color:#666666;
}

.columna-recuadro p {
    font-size:12px;
    color:grey;
}

.row-triple {
  margin-bottom: 8em;
}

.columna-left::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: 1em solid #f2f2f2;;
  border-top-color: transparent;
  border-right-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  opacity:1;
  top: 0px;
  right:-30px;
}

.columna-right::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border: 1em solid #f2f2f2;;
  border-top-color: transparent;
  border-left-color: transparent;
  border-bottom-color: transparent;
  position: absolute;
  opacity:1;
  top: 0px;
  left:-30px;
}

.col-subtitle {
  padding-top:5em;
}

</style>
