<% provide(:title, 'Freelance') %>


<div class="content-container"  style="background-color: $light-grey; text-align:left; color:black; padding-top:5em;padding-bottom:5em; ">
  <div class="freelance-text">
  <h2>Desarrollo Web Freelance</h2>
   
  Hacemos los siguientes tipos de trabajos:
  <ul>
  	<li> Desarrollo de aplicaciones Web </li>
  	<li> Desarrollo de sitios web estáticos </li>
  </ul>

  <br><br>
  <h3> Precio </h3>

  <p>El precio dependerá del proyecto y será negociado al momento de las definiciones de requisitos. Puede ser fijo por trabajo final o negociado por hora,
  dependiendo del proyecto en sí y su complejidad.</p>

  <br><br>
  <h3> Pago </h3> 

  <p>Aceptamos pagos por paypal y por transferencia a bancos Argentinos.</p>

  <br><br>
  <h3> Comunicación y Disponibilidad</h3>

  <p>Estaremos disponibles en email y skype durante horas normales de oficina (Horario Argentino).</p>

  <br><br>
  <h3> Control de versión</h3> 

  <p>Usualmente usamos <a target="_blank" href="http://www.github.com">Github</a> como repositorio.</p>

  <br><br>
  <h3>Soporte</h3>

  <p>Ofrecemos soporte gratuito por un mes luego de la entrega final, siempre que no salga de las normas pautadas en el desarrollo inicial del proyecto.</p>

  <br><br>
  <h3>Hosting </h3>

  <p>Ofrecemos hosteo en <a target="_blank" href="http://www.heroku.com">Heroku</a> y en <a target="_blank" href="https://aws.amazon.com/es/">Amazon</a>  para las aplicaciones que desarrollamos, con las configuraciones y el valor asociado a los requerimientos de la misma.</p>

  <br><br>
  <h3> Contacto </h3>
  Envianos un mensaje con tus requerimientos y el tiempo en el que lo necesitas, por favor sea detallista, de esta forma podremos responder lo antes posible con una estimación de precio y de tiempo.

  </div>
</div>