<footer class="footer">
<div class="container">
  <nav>
    <div class="row text-center" >
      <div class="col-xs-3">
        <p>
          © 2017<br>
          Programando
        </p>
      </div>
      <div class="col-xs-3">
        <p>
          Contacto<br>
          <a href="mailto:info@programando.com.ar" style="color:white" target="_top">info@programando.com.ar</a>
        </p>
      </div>
      <div class="col-xs-3">
        <p>
        Social  <br>
        Twitter 
        </p>
      </div>
      <div class="col-xs-3">
        <p>
          Teléfono <br>
          +34610617057           
        </p>
      </div>
    </div>
  </nav>
</div>
</footer>
