<footer class="footer">
<div class="container">
  <nav>
    <div class="row text-center" >
      <div class="col-xs-4 col-sm-4 col-md-4">
        <a class="brand" href="/"><img src=<%= image_path "logo.png" %> style="height:50px" alt="logo bundev "></a>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4">
        <p>
          No dudes en contactarnos <br>
          Cel. +34-610-617-057 <br>
          <a href="mailto:info@bundev.com.ar" style="color:white" target="_top">info@bundev.com.ar</a>

        </p>
      </div>
    </div>
  </nav>
</div>
</footer>
